@charset "utf-8";
/* CSS Document */
/*Author: Farmehr Farhour f.farhour@gmail.com*/

body{
	background-color:#000000;
	background-image:url(../images/bg.jpg);
}
.phone{
    text-align:center;
    margin-top:0px;
    margin-bottom:0px;
    padding:0px;
}
.screen{
	font-size: 32px;
  	position: absolute;
  	left: 50%;
  	top: 82px;
 /*
  	margin-left: -0.01%;
	
  	margin-top: -25%;
  	*/
  	/* 
  	Yep!
  	*/
  	transform: translate(-50%, -50%);
  	/*
  	Not even necessary really. 
  	e.g. Height could be left out!
  	*/
  	width:40%;
	height:0%;
}
.button{
	margin-right:65px; 
	margin-top:6px; 
	height:28px; 
	width:40px;
	background-color: Transparent;
	cursor:pointer;
	margin-left:65px;
	border:0;
}