{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Almost There</title>
<link href="{% static 'css/app.css' %}" rel="stylesheet">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script>

$(document).ready(function(){
		fadeWindow();

		$('#NavPage').hide();
		$('#Timer').hide();
});

function buttonNavigate(){
	// $( '#HomePage').hide(100);
	//$('#NavPage').fadeIn(1000);
	$('#window').hide(10);
	$('#window').load('/User/ButtonNavigation/');
	$('#window').fadeIn(1000);
};

function buttonNavTimer(data){
	// $('#window').hide(100);
	// $('#window').load('/User/ButtonNavTimer/');
	// fadeWindow();
	$('#window').hide(10);
	//$('#window').load('/User/ButtonNavTimer/', { 'firstStop' : $('#firstStop').val(),
	//		'secondStop' : $('#secondStop').val()}
	//		);
	$.get('/User/ButtonNavTimer/', { "firstStop" :  $('#firstStop').val(), "secondStop" : $('#secondStop').val(),
			"route" : $('#secondStop').val()}, function(data){
			$("#window").html(data);
			});
	$('#window').fadeIn(1000);
};

function fadeWindow(){
	$('#window').hide().fadeIn(1000);
};

function doSomething(){	
	$('#btnClick').load('/User/ButtonOne/');
};


function NavLoc(){
	
	data = {
			"firstStop" : $('#firstStop').val(),
			"secondStop" : $('#secondStop').val()
		};
	buttonNavTimer(data);
};


</script>
</head>

<body bgcolor="#fcfcfc" background="{% static 'images/bg_Homescreen.jpg' %">
<div id="window">
	<div class="text" id="titletext">
    	<a>With Almost There,</a><br />
        <a>you will never miss a bus again</a><br />
    </div>
	<div id='HomePage' class="logo">
		<img src="{% static 'images/Logo_reflection.png' %}" id="mainlogo" width="110" />
	</div>
    
	<div class="buttons">
		<button class="button" id='ButtonNavigation', onclick="buttonNavigate()" title="GetStarted">GET STARTED</button><br />
    	<!--<button  id='btnClick' onclick="doSomething()">Do Something Here </button>-->
	</div>
	

	<!-- 

<div id='NavPage'>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script>
		
	</script>

<h2 style='font-family:Helvetica' > Use This Page to navigate to the location </h2>

<h3>Stop</h3>
<input id="firstStop" type='text'>
<br />
<h3>to Stop</h3>
<input id='secondStop' type='text'>

<br />
<br />
<input id='NavigateToLocation' type='submit' onclick="NavLoc();">

</div>


<div id="Timer">

Timer

</div>

-->

</div>
</body>
</html>
