<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Frontend User</title>
<link href="css/main.css" rel="stylesheet">
</head>

<body>
<div class="phone" id="phoneborder" >
	<img src="images/phone.png" height="700" align="middle" style="z-index:-1;" />
</div>
<div class="screen" id="phonescreen">
  <iframe width="291" height="516" src="http://upload.wikimedia.org/wikipedia/commons/thumb/8/85/Smiley.svg/640px-Smiley.svg.png" 		border="0" frameborder="0" allowTransparency="true" style="top:0;">
      Your browser does not support inline frames.</iframe>
</div>

    
</body>
</html>
