{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Author" content="Farmehr Farhour f.farhour@gmail.com"/>
<title>Frontend User</title>
<link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>

<body>
<div class="phone">
	<img src="{% static 'images/phone.png' %}" height="700" align="middle" style="z-index:0;" />
<!--"http://upload.wikimedia.org/wikipedia/commons/thumb/8/85/Smiley.svg/640px-Smiley.svg.png"-->
	<div class="screen">
    	<iframe width="289" height="516" src="/User/AlmostThere/" frameborder="0" allowTransparency="true" align="middle" style="z-index:10" seamless="seamless" scrolling="no">
      		Your browser does not support inline frames.</iframe>
    </div>
</div>
    
</body>
</html>
