
<div class="nav" id='NavPage'>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script>
function NavLoc(){
	
	data = {
			"firstStop" : $('#firstStop').val(),
			"secondStop" : $('#secondStop').val()
		};
	buttonNavTimer(data);
};
</script>
    
    
<div class="text" id="titletext">
	<a> My Journey</a>
</div>
<div class="text" id="bodytext">
	<a style="margin-right:20px;">A <input id="firstStop" style="height:35px;border:10px; border-radius:5px;margin-top:50px; padding:10px;" type='text' placeholder="My Location"></a><br />
	<a style="margin-right:20px;">B <input id='secondStop' style="height:35px;border:10px; border-radius:5px;margin-top:50px; padding:10px;" type='text'placeholder="Enter Your Destination"></a>
</div>
<br />
<div class="buttons">
	<input class="button" id='NavigateToLocation' type='submit' onclick="NavLoc();" style="color:#000000; background-color:#FFFFFF;" value="FIND">
</div>
</div>

