{% load staticfiles %}
<div class="nav" id='NavPage'>
<link href="{% static 'css/app.css' %}" rel="stylesheet">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
function NavLoc(){
	
	data = {
			"firstStop" : $('#firstStop').val()
			// "secondStop" : $('#secondStop').val()
		};
	buttonNavTimer(data);
};


//back + home button functions
window.addEventListener('popstate', function() {
  console.log('popstate fired!');

  	$('body, html').load('/User/AlmostThere/');
	$('body, html').fadeIn(1000);
});

function findButton() {
  // Add an item to the history log
  history.pushState({}, 'ButtonNavTimer', 'ButtonNavTimer');

  return event.preventDefault();
};


//enter to FIND
$("#firstStop").keyup(function (e) {
    if (e.keyCode == 13) {
        NavLoc();
		findButton();
    }
});


</script>
    
    
<div class="text" id="titletext">
	<a> My Journey</a>
</div>

<!-- 
<div class="text" id="Explanation"
	<a> Please enter your stop numbers </a>
</div>

--> 
<div class="text" id="bodytext">
	<a><input id="firstStop" style="height:35px;border:10px; border-radius:5px;margin-top:100px; padding:10px;" type='text' placeholder="Enter your stop number"></a>
	<!-- <a style="margin-right:20px;">B <input id='secondStop' style="height:35px;border:10px; border-radius:5px;margin-top:50px; padding:10px;" type='text'placeholder="Enter Your Destination"></a> -->
</div>
<br />

<!-- 
	<a style="margin-right:20px;">Stop Number <input id="firstStop" style="height:35px;border:10px; border-radius:5px;margin-top:50px; padding:10px;" type='text' placeholder="Starting stop"></a><br /> -->


<div class="buttons">
	<input class="button" id='NavigateToLocation' type='submit' onclick="NavLoc();findButton();" style="color:#000000; background-color:#FFFFFF; margin-top:100px;" value="FIND">
</div>
</div>

