<div class='Timer'>

<script>

	$(document).load(function(){
		$('#dataToshow').hide();
			});

function sendRoute(routeId){
	$('#routeList').hide(10);
	$('#dataToShow').load('/User/TimerData/', { 'route_id' : routeId});
}

</script>

<div id="routeList">

	{% if route_list %}

		{% for route in route_list %}
		<p>
		<a onclick='sendRoute({{ route.Route_ID }})'>{{ route.short_name }}</a>
		
		
		{% endfor %}


	{% endif %}

</div>

<div class="timer" id="dataToShow">
<div class="text" id="titletext">
	<a>Routes</a>
</div>

	{% if bus_arrival_time %}

	Bus is arriving at {{ bus_arrival_time }}

	{% endif %}


</div>
