<div class='Timer'>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	

<script>

	var stop = '{{ stop }}';

	$(document).ready(function(){
		$('#dataToshow').hide();
			});

function sendRoute(routeId){
	$('#routeList').hide(10);
	
	$.get('/User/TimerData/', { 'route_id' : routeId, 'stop' : stop}, function(data){
		$('#dataToShow').html(data);
			});
	$('#timer').fadeIn(100);
}

</script>

<div id="routeList">

	{% if route_list %}

		{% for route in route_list %}
		<p>
		<a onclick='sendRoute("{{ route.Route_ID }}")'>{{ route.short_name }}</a>
		</p>
		
		{% endfor %}


	{% endif %}

</div>

<div class="timer" id="dataToShow">


	{% if bus_arrival_time %}

	Bus is arriving at {{ bus_arrival_time }}

	{% endif %}


</div>
